<div class="menu-item">
  {{#link-to "routes"}}Stop Times{{/link-to}}
</div>

<div class="menu-item">
  {{#link-to "map"}}Map{{/link-to}}
</div>

<div class="menu-item">
  {{#link-to "about"}}About{{/link-to}}
</div>