{{#if routes.isFulfilled}}


  {{#each routes as |route|}}

    {{#link-to "routes.route" route.id}}
        <div>
          {{route.routeShortName}} - {{route.routeLongName}}
        </div>
    {{/link-to}}

  {{/each}}

{{else}}

    LOADING

{{/if}}