<div>Route: {{routeId}}</div>

{{#if stops.isFulfilled}}

  {{#each stops as |stop|}}

    {{#link-to "stop-times.stop" routeId stop.id}}
      <div>
        {{stop.stopName}}
      </div>
    {{/link-to}}

  {{/each}}

{{else}}
    LOADING
{{/if}}
