<div class="rows">Route: {{routeId}}</div>

<div class="container">
  {{#if routeToStops.isFulfilled}}

    {{#each routeToStopsSorted as |routeToStop|}}
        <div class="wrapper">
          {{#link-to "stop-times" routeId routeToStop.id}}
            {{stop-widget stop=routeToStop.stop directionId=routeToStop.directionId}}
          {{/link-to}}
        </div>

    {{/each}}

  {{else}}
    {{loading-widget text="LOADING STOPS"}}
  {{/if}}
</div>