<div class="container">
  {{#if routes.isFulfilled}}

    {{#each routes as |route|}}

      <div class="route-wrapper">
          {{#link-to "busses.bus" route.id}}
            {{route-widget route=route}}
          {{/link-to}}
      </div>

    {{/each}}

  {{else}}
    {{loading-widget text="LOADING ROUTES"}}
  {{/if}}
</div>