<div class="application">
    <div class="side-menu">
        SIDE MENU
    </div>

    <div class="nav-content">
      <div class="nav">

      </div>

      <div class="content">
        {{outlet}}
      </div>
    </div>
</div>