{{#if stopTimes.isFulfilled}}

  {{#each filteredStopTimes as |stopTime|}}
      <div>
        {{stopTime.departureTime}}
      </div>

  {{else}}

    {{noTimesText}}

  {{/each}}
{{else}}

    LOADING
{{/if}}